.hotel-search {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;

  p {
    margin: 0;
    line-height: 24px;
    color: $second-text-color;
    padding-top: 18px;
    padding-bottom: 36px;
  }
}

.hotel-search__title {
  margin: 0;
  padding: 0;
}

.hotel-search__btn {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  margin-bottom: 49px;
}
