.page-footer__wrapper {
  padding-top: 36px;
}

.page-footer__hashtag {
  margin: 0;

  @include font-set(21px,$line-height,bold);
}

.socail {
  text-align: center;
}

.social__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 33px;
}

.social__item {
  margin: 0 3px;
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: $primary-color;
  color: $third-text-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    background-color: $second-color;
  }

  &:active {
    background-color: $third-color;

    svg {
      opacity: 0.3;
    }
  }

  svg {
    fill: white;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin: 0;
}

.copyright__link {
  margin-left: 11px;
  margin-top: 6px;

  &:hover svg,
  &:focus svg {
    fill: $primary-color;
  }

  &:active svg {
    fill: rgba($text-color, 0.3);
  }
}
