@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("PT Sans");
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff"); }

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("PT Sans");
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff"); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.main-nav__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }

.site-list__item {
  background-color: #81b3d2;
  -webkit-box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2); }

.site-list__link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold; }
  .site-list__link:hover {
    background-color: #669ec0; }
  .site-list__link:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd; }

.main-nav__wrapper {
  position: relative;
  min-height: 56px; }

.main-nav__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 20;
  margin-left: -50px; }

.main-nav__logo-image {
  display: block;
  width: 102px;
  height: 83px; }

.main-nav__toggle {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 23px;
  height: 21px;
  background-color: transparent;
  border: none;
  cursor: pointer; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 3px;
  background-color: #81b3d2;
  -webkit-box-shadow: 0 9px 0 0 #81b3d2, 0 17px 0 0 #81b3d2;
          box-shadow: 0 9px 0 0 #81b3d2, 0 17px 0 0 #81b3d2; }

.main-nav--opened .main-nav__toggle {
  top: -203px;
  right: auto;
  left: 277px; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -4px;
    width: 30px;
    height: 4px;
    background-color: #ffffff; }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .main-nav--opened .main-nav__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.intro {
  position: relative;
  height: 160px;
  text-align: center;
  background-color: #81b3d2;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom; }
  .intro--index {
    height: 389px;
    padding-top: 89px; }
  .intro::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    bottom: -1px;
    left: 0;
    z-index: 50;
    width: 320px;
    height: 26px;
    background-image: url("../img/bg-intro-triangle-mobile.svg"); }

.promo {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 27px; }

.promo p {
  margin: 0;
  color: #333333; }

.promo__title {
  margin: 0;
  padding-top: 39px;
  padding-bottom: 27px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold; }

.features {
  margin: 0;
  padding: 0;
  list-style: none; }

.features__item {
  padding-left: 20px;
  padding-right: 20px; }
  .features__item:nth-of-type(5) {
    padding-bottom: 35px; }

.features__item p {
  margin: 0;
  line-height: 21px; }

.features__item--blue {
  background-color: #81b3d2;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative; }
  .features__item--blue:first-of-type::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../img/bg-triangle.svg");
    width: 320px;
    height: 37px;
    top: -22px;
    left: 0;
    z-index: 40; }

.features__item--blue:first-of-type .features__title {
  padding-top: 15px; }

.features__title {
  margin: 0;
  padding-bottom: 9px;
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold; }

.features__numbers {
  padding-bottom: 15px; }

.features__image {
  background-color: #81b3d2; }

.features__image img {
  display: block; }

.features__item--icons {
  text-align: left;
  padding-left: 69px;
  padding-top: 29px; }

.features__item--icons p {
  color: #333333;
  padding-top: 5px; }

.features__title--house {
  padding-top: 5px; }
  .features__title--house::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../img/icon-house.svg");
    width: 38px;
    height: 36px;
    left: -46px;
    top: -3px;
    background-size: 93%; }

.features__title--souvenir::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/icon-gift.svg");
  width: 32px;
  height: 38px;
  left: -43px;
  top: -11px;
  background-size: 97%; }

.features__title--food::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/icon-burger.svg");
  width: 39px;
  height: 34px;
  left: -50px;
  top: -5px;
  background-size: 98%; }

.features__item--gray {
  background-color: #eeeeee;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid black; }

.features__item--gray p {
  color: #333333; }
