$primary-color: #81b3d2;
$white: #ffffff;
$black: #000000;
$border: 1px solid $black;

$font-family: "PT Sans", arial, sans-serif;
$font-size: 14px;
$line-height: 26px;
$text-transform: uppercase;

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
